body{
  font-family: 'HanziPen TC',sans-serif;
}
h1 {
  text-align: center;
}

div.photo-sec,.profile-sec,div.message-sec{
  margin: 0 auto;
  width: 80%;
  max-width:500px;
}

div.photo-sec img {
    width: 100%;
    box-shadow: 10px 6px 7px #afafaf;
}

div h2{
  font-family: YuGothic,'Yu Gothic', sans-serif;

}

div p{
  letter-spacing: 3px;
}

@media screen and (max-width:767px) {
div.photo-sec, .profile-sec, div.message-sec {
    margin: 0 auto;
    width: 95%;
    max-width: unset;
}
}
