* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  text-decoration: none;
}

body {
  background-color: #4db6ac;
  color: #fff;
}

.center {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.links {
  margin: 1rem 0;
}

.btn {
  display: inline-block;
  background-color: #fff;
  color: #4db6ac;
  padding: 0.4rem 1rem;
  margin: 0 0.6rem;
  border-radius: 0.5rem;
  &:hover {
    opacity: 0.7;
  }
}

.intro-link {
  color: #fff;
  margin: 0 0.5rem;
  &:hover {
    opacity: 0.7;
  }
}
